

body{
    margin: 0%;
     padding: 0%;
     background-image: url('..//Imagens/backgroud\ cinza\ claro.png');
     background-size: cover;
     background-repeat: no-repeat;
     font-family: sans-serif;
     font-size: 1em;
     color:#090909;
     margin-left: 3;
     margin-top: 4;
     justify-content: center;;
 }
 @media screen and (max-width: 1850px) {
     body{
      background-image: url('..//Imagens/backgroundMobile.jpg');
      
     }
     
     }
       
 nav{
     width: 100%;
     height: 25vh;
     color: green;
     position: fixed;
 }
 /*nav a{
     color: #fff;
     font-size: 20px;
     text-decoration: none;
     text-transform: uppercase;
     font-weight: 600;
     position: fixed;
 }*/
 
 nav ul{
     display: flex;
     justify-content: center;
     align-items: center;
     color: #f0f8ff;
     background:#CEE161;
     height: 50%;
     width: 96,50%;
     list-style-type: none;
     border-radius: 1%;
     position: relative;
     top: -55px;
 }
 
 #LoginForm{
     position: relative;
     border: solid rgb(34, 32, 32);
     width: 36%;
     height: 400px;
     padding: 10px;
     margin: auto;
     margin-top: 20vh;  
     
 }
 @media screen and (min-width: 1850px) {
     #LoginForm{
         width: 16%;
         height: 2px;
         padding: 10px;
         margin: auto;
         margin-top: 1vh;   
     }
 
 }
 #nome{
     width: 300px;
     height: 25px;
     border-radius: 16px;
 }
 #email{
    width: 120px;
     height: 25px;
     border-radius: 16px;
 }
 #sign-title{
     text-align: center;
     position: relative;
     top: 40px;
     border-radius: 16px;
    
 }
 #ltel{
     position: relative;
     left: 200px;
     top: -45px;
     height: 25px;
     width: 120px;
     border-radius: 16px;
 }
 #lsex{
     position: relative;
     top: -20px;  
     border-radius: 16px; 
 }
 #ssex{
     position: relative;
     top: -20px; 
     width: 120px;
     height: 20px; 
     height: 26px;  
     border-radius: 16px;  
 }
 #lcivil{
     position: relative;
     top: -66px;
     left: 200px;
     width: 120px;
     height: 26px;  
     border-radius: 16px; 
 }
 #nascimento{
     position: relative;
     top: -40px;
     width: 120px;
     height: 23px; 
     border-radius: 16px;  
 }
 #country{
     position: relative;
     top: -94px;
     left: 198px;
     width: 130px;
     height: 26px; 
     border-radius: 16px;  
 }
 
 .btns{
     position: relative;
     top: -50px;
 }
 
 #backbtn{
 position: relative;
 left: 25px;
 padding: 8px;
 border-radius: 6px;
 color: black;
    background-color:#CEE161;
 }
 #savebtn{
     position: relative;
     right:-180px;
     padding: 8px;
     border-radius: 6px;
     color: black;
    background-color:#CEE161;
 }
  #backbtn:hover{
    color:  rgb(230, 18, 117);
    background:#b6ce2e;
 }
 #savebtn:hover{
    color:  rgb(230, 18, 117);
    background:#b6ce2e;
 }
 .Soc-Icon{
     position: relative;
     
 }
 
 
 
 
 